/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Praktika Regular', Arial, sans-serif;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 10rem;
  background-color: #12173F;
  border-top: 2rem solid #5D76A9;
  border-bottom: 2rem solid #5D76A9;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
header nav a {
  padding: 5rem;
  text-decoration: none;
  font-family: 'Praktika Regular', Arial, sans-serif;
  color: #F5B112;
  font-size: 2rem;
}
#grizzImg {
  width: 27rem;
  margin-top: 7rem;
}
.carosel {
  margin-top: 10rem;
}
.sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec1 .frontCard {
  margin: 2rem;
  width: 45rem;
  height: 60rem;
  border: 1rem solid #F5B112;
  background-color: #5D76A9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec1 .frontCard img {
  width: 35rem;
  height: auto;
}
.sec1 .backCard {
  margin: 2rem;
  width: 45rem;
  height: 60rem;
  border: 1rem solid #F5B112;
  background-color: #5D76A9;
}
.sec1 .backCard .cardWords {
  padding: 2rem;
  color: #ffffff;
  text-align: justify;
}
.sec1 .backCard .cardWords h2 {
  padding-bottom: 3rem;
  font-size: 3.7rem;
  text-align: center;
}
.sec1 .backCard .cardWords h4 {
  padding-bottom: 1rem;
  font-size: 2.4rem;
}
.sec1 .backCard .cardWords p {
  padding-top: 3rem;
  font-size: 1.78em;
}
.youtubeLink {
  width: 100%;
  height: 80rem;
  background-color: #5D76A9;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtubeLink iframe {
  width: 95%;
  height: 92%;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
